<div class="profile-container" ng-controller="ProfileCtrl">
    <header>
        <div class="profile-header-container">
            <div class="wrap">
                <div ng-include src="'/js/angular/partials/admin/admin-header.html'"></div>
            </div>
        </div>
    </header>

    <div class="content-container">
        <div class="title-container">
            <div class="title-section wrap">
                <p>Students Page</p>
                <p>Analyze Student data</p>
                <i class="fa fa-cogs"></i>
            </div>
        </div>

        <div class="profile-data-container wrap">
            <!--<p ng-hide="user.type" class="guestuser">Profile not available for Guest User..</p>-->

            <div class="container-fluid">
                <ol class="breadcrumb-container">
                    <li><a href="/#/admin/students">Students</a></li>
                    <li><a href="">Profile</a></li>
                </ol>

                <hr>

                <p ng-if="reports.length == 0" class="nolab">No Lab attempted..</p>

                <div class="row">
                    <div class="lab-block" ng-repeat="report in reports">
                        <div class="row user-table">
                            <div class="col-md-2 col-sm-6 col-xs-6">
                                <div class="user-table-title">
                                    <p>Student Name: </p>
                                    <p>Student Email: </p>
                                </div>
                            </div>
                            <div class="col-md-10 col-sm-6 col-xs-6">
                                <div class="user-table-answer">
                                    <p>{{user.name}}</p>
                                    <p>{{user.email}}</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <p class="title" ng-repeat="lab in labs | filter:report.labid">{{lab.labname}}</p>
                        <div class="attempt-block" ng-repeat="attempt in report.attempts" ng-click="showReport(report.id, $index+1)">
                            <div class="col-md-8">
                                <p>Attempt {{$index+1}}</p>
                                <p>{{attempt.date | date}}</p>
                            </div>
                            <div class="col-md-4 score-block">
                                <p>{{attempt.score | number : 2}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
