<div class="admin-container" ng-controller="AdminCtrl">
    <div ng-include src="'/js/angular/partials/admin/admin-header.html'"></div>

    <div class="content-container">
        <div class="title-container">
            <div class="title-section wrap">
                <p>Instructor's Page</p>
                <p>Create or edit lab</p>
                <i class="fa fa-cogs"></i>
                <button ng-click="createlab()">Create Lab</button>
            </div>
        </div>

        <div class="labs-container wrap">

            <p ng-show="!labs.length" class="nolabsmsg">No Labs added..</p>

            <ul>
                <li ng-repeat="lab in labs">
                    <div class="lab-block">

                        <div class="content-section">
                            <p>{{lab.labname}}</p>
                            <p>{{lab.labdescription}}</p>
                            <button ng-click="editlab(lab.id)">Edit Lab</button>
                            <button ng-click="deletelab(lab)">Delete Lab</button>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
