<div class="report-container" ng-controller="ReportCtrl">
    <header>
        <div class="report-header-container">
            <div class="wrap">
                <div ng-include src="'/js/angular/partials/admin/admin-header.html'"></div>
            </div>
        </div>
    </header>

    <div class="content-container">
        <div class="title-container">
            <div class="title-section wrap">
                <p>Students Page</p>
                <p>Analyze Student data</p>
                <i class="fa fa-cogs"></i>
            </div>
        </div>

        <div class="report-container wrap">
            <div class="container-fluid">
                <ol class="breadcrumb-container">
                    <li><a href="/#/admin/students">Students</a></li>
                    <li><a href="/#/admin/students/profile/{{user.id}}">Profile</a></li>
                    <li><a href="">report</a></li>
                </ol>

                <hr>

                <div class="row">
                    <div class="col-md-6">
                        <table class="report-table">
                            <tbody>
                                <tr>
                                    <td><p>Name: </p></td>
                                    <td><p>{{user.name}}</p></td>
                                </tr>
                                <tr>
                                    <td><p>Email: </p></td>
                                    <td><p>{{user.email}}</p></td>
                                </tr>
                                <tr>
                                    <td><p>Quiz: </p></td>
                                    <td><p>{{lab.labname}}</p></td>
                                </tr>
                                <tr>
                                    <td><p>Attempt: </p></td>
                                    <td><p>{{attemptcount+1}}</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="report-table">
                            <tbody>
                                <tr>
                                    <td><p>Score: </p></td>
                                    <td><p>{{report.attempts[attemptcount].score | number : 2}}</p></td>
                                </tr>
                                <tr>
                                    <td><p>Time: </p></td>
                                    <td><p>{{report.attempts[attemptcount].clock/60 | number : 0}} Minutes {{report.attempts[attemptcount].clock % 60}} Seconds</p></td>
                                </tr>
                                <tr>
                                    <td><p>Date: </p></td>
                                    <td><p>{{report.attempts[attemptcount].date | date}}</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <br>
                <hr>

                <div class="row stats-container">
                    <div class="col-md-4 col-sm-4">
                        <p>ATTEMPTED</p>
                        <p>(out of {{report.attempts[attemptcount].answers.length}})</p>
                        <div class="donut-container">
                            <donut val="attempted"></donut>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p>SCORE</p>
                        <p>(out of {{report.attempts[attemptcount].answers.length*10}})</p>
                        <div class="donut-container">
                            <donut val="score"></donut>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p>AVG TIME</p>
                        <p>(in Minutes)</p>
                        <div class="donut-container">
                            <donut val="time"></donut>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="button-section">
                    <a href="/#/admin/students/profile/{{user.id}}">Go back to Student Profile</a>
                </div>

            </div>
        </div>

    </div>
</div>
