<div ng-controller="HeaderCtrl">
    <header>
        <div class="headbar clearfix">
            <div class="logo">
                <p>Discovery</p>
            </div>
            <div class="menu hidden-xs">
                <a href="#/labs">home</a>
                <a href="#/profile">profile</a>
                <button ng-click="logout()">Sign Out</button>
            </div>
            <div class="mobile-menu visible-xs">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
</div>