<div class="home-container" ng-controller="HomeCtrl">
    <div class="content-block container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="title-section">
                    <p class="home-title"><span>Discovery</span> Lab</p>
                    <p class="home-subtitle hidden-xs hidden-sm">An interactive Lab with numerous questions that helps honing the skills of the students</p>
                    <img src="/img/svg/discovery-home.svg" class="hidden-xs hidden-sm" />
                </div>
            </div>
            <div class="col-md-5">
                <div class="login-section">
                    <div class="asu-block">
                        <div class="buttons-toggle-section">
                            <button ng-click="toggleclass('asu')" ng-class="{'login-active': showasu}">ASU</button>
                            <button ng-click="toggleclass('guest')" ng-class="{'login-active': !showasu}">GUEST</button>
                        </div>
                        <div ng-show="showasu" class="login-form">
                            <!--
                            <form name="asuForm" ng-submit="submitASUForm(asuForm.$valid)" novalidate>
                                <div class="field-block">
                                    
                                    <input type="text" ng-class="{ 'field-error' : asuForm.userid.$error.required && !asuForm.userid.$pristine }" name ="userid" ng-model="asuuser.userid" placeholder="ASURITE User ID" required>
                                </div>
                                
                                <div class="field-block">
                                    <input type="password" ng-class="{ 'field-error' : asuForm.password.$error.required && !asuForm.password.$pristine }" name ="password" ng-model="asuuser.password" placeholder="password" required>
                                </div>
                                
                                <div ng-show="serviceerror" class="service-error">Login Failed! Please Try again..</div>
                                
                                <button type="submit" ng-disabled="asuForm.$invalid">Log In</button>
                            </form>
                            -->
                            <div class="cas-login">
                                <p>ASU CAS Authentication</p>
                                <button ng-click="casAuth()">ASU Log In</button>
                            </div>
                        </div>
                        
                        <div ng-hide="showasu" class="login-form">
                            <form name="guestForm" ng-submit="submitGuestForm(guestForm.$valid)" novalidate>
                                <div class="field-block">
                                    <input type="email" ng-class="{ 'field-error' : guestForm.email.$error.required && !guestForm.email.$pristine || guestForm.email.$error.email && !guestForm.email.$pristine}" name ="email" ng-model="guestuser.email" placeholder="Enter your Email" required>
                                </div>
                                
                                <div class="field-block">
                                    <input type="text" ng-class="{ 'field-error' : guestForm.name.$error.required && !guestForm.name.$pristine }" name ="name" ng-model="guestuser.name" placeholder="Enter your Name" required>
                                </div>
                                
                                <div ng-show="serviceerror" class="service-error">Login Failed! Please Try again..</div>
                                
                                <button type="submit" ng-disabled="guestForm.$invalid" ng-hide="loading">Log In</button>
                                <button ng-show="loading" class="loading-bttn"><i class="fa fa-spinner fa-spin"></i> Logging in..</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>