<div class="report-container" ng-controller="ReportCtrl">
    <header>
        <div class="report-header-container">
            <div class="wrap">
                <div ng-include src="'/js/angular/partials/header.html'"></div>
            </div>
        </div>
    </header>

    <div class="content-container">
        <div class="title-container">
            <div class="title-section wrap">
                <p>Report</p>
                <p>{{user.name}} <span>({{user.email}})</span></p>
                <i class="fa fa-cogs"></i>
            </div>
        </div>

        <div class="report-container wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row report-table">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="report-table-title">
                                    <p>Quiz Name: </p>
                                    <p>Current Attempt: </p>
                                    <p>Score: </p>
                                    <p>Time Taken: </p>
                                    <p>Taken on: </p>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <div class="report-table-answer">
                                    <p>{{lab.labname}}</p>
                                    <p>{{attemptcount+1}}</p>
                                    <p>{{report.attempts[attemptcount].score | number : 2}} </p>
                                    <p>{{report.attempts[attemptcount].clock/60 | number : 0}} Minutes {{report.attempts[attemptcount].clock % 60}} Seconds</p>
                                    <p>{{report.attempts[attemptcount].date | date}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="message">Well Done!</p>
                    </div>
                </div>

                <br>
                <hr>

                <div class="row stats-container">
                    <div class="col-md-4 col-sm-4">
                        <p>ATTEMPTED</p>
                        <p>(out of {{report.attempts[attemptcount].answers.length}})</p>
                        <div class="donut-container">
                            <donut val="attempted"></donut>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p>SCORE</p>
                        <p>(out of {{report.attempts[attemptcount].answers.length*10}})</p>
                        <div class="donut-container">
                            <donut val="score"></donut>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p>AVG TIME</p>
                        <p>(in Minutes)</p>
                        <div class="donut-container">
                            <donut val="time"></donut>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="button-section">
                    <button>Re-take Test</button>
                    <button>Go to Profile</button>
                </div>

            </div>
        </div>

    </div>
</div>
